@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #B397D6;
}
.shadow{
  box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 55px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 55px 10px rgba(0,0,0,0.75);

}